h1{
    text-align: justify;
}

.box{
    background: burlywood;
    height: 200px;
    width: 300px;
    padding: 20px
}

.box-dua{
    background: purple;
    height: 100px;
    width: 600px;
    padding-left: 70px;
}